###################################################################################################
################################# KMS Server Configuration for EVN ################################
################################################################################################### 
kms.import.elec.uuid=33442514-8028-4116-a16b-2a1fcfd1688a
kms.import.shipmentFile.regExp=^(SSF|LSF|PKI|RAD)(ISK|LAN|SIE|SAG|KAI|HON)[0-9]{10}-[0-9]{5}-[0-9]{10}-[0-9]{15}-[0-9]{5}-25[0-9]{7}-[0-9]\.([12][0-9]{3})(0[1-9]|1[0-2])(0[1-9]|[12][0-9]|3[01])([01][0-9]|2[0123])([012345][0-9])([012345][0-9])((_.{1,100})|)\.xml
kms.import.elec.meter.xsd.path={{ kms_import_elec_meter_xsd }}
kms.import.dc.uuid=77222514-8028-4116-a16b-2a1fcfd16878b
kms.import.dc.uuid.xsd.path={{ kms_import_dc_uuid_xsd }}
kms.import.enable.xsdValidation=true